forecastle:
  config:
    namespaceSelector:
      any: true

podLabels:
  network/cluster-service: "true"
{% if cfg_values.image_registry is defined %}
image:
  repository: "{{cfg_values.image_registry}}/stakater/forecastle"
{% endif %}

# Ingress is managed separately to attach the auth middleware
ingress:
  enabled: false
